# Build artifacts
bin/
*.o
*.obj
*.dSYM

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# Data / Large Files
data/*.onnx
data/*.png
data/*.jpeg
data/*.jpg
data/*.xml

# Generated PDF
*.pdf